@use "../App.scss" as *;

.card-border {
  border-color: black;
  width: 20%;
  text-align: center;
  border-style: solid;
  border-radius: 16px;
  border-color: #ccc;
}

.card-margin {
  padding: 20px;
}